-# Partial form for Rental Applications. Changing this will update both the 
-# new rent app form and the edit rent app form.

= label :rent_app, :building_id, 'Building:'
= collection_select :rent_app, :building_id, Building.all, :id, :street_addr
%br
= label :rent_app, :num_bed, 'Number of Bedrooms:'
= select :rent_app, :num_bed, ['', 1, 2, 3, 4]
%br
= label :rent_app, :num_bath, 'Number of Bathrooms:'
= select :rent_app, :num_bath, ['', 1, 2, 3, 4]
%br
= label :rent_app, :ssn, 'Social Security Number:'
= text_field :rent_app, :ssn
%br
= label :rent_app, :dr_license_num, 'Driver License Number:'
= text_field :rent_app, :dr_license_num
%br
= label :rent_app, :license_state, 'Driver License State:'
= select :rent_app, :license_state, options_for_select(state_abbrs)
%br
= label :rent_app, :bank_name, 'Bank Name:'
= text_field :rent_app, :bank_name
%br
= label :rent_app, :bank_acct_num, 'Bank Account Number:'
= text_field :rent_app, :bank_acct_num
%br
= label :rent_app, :res_phone, 'Phone Number:'
= text_field :rent_app, :res_phone
%br
= label :rent_app, :work_phone, 'Work Phone Number:'
= text_field :rent_app, :work_phone
%br
= label :rent_app, :names_of_occpts, 'Names of other Occupants:'
= text_field :rent_app, :names_of_occpts
%br
= label :rent_app, :pets, 'Pets (Type and Number):'
= text_field :rent_app, :pets
%br
