.container.text-center
    %h1 New Apartment
%div.container.text-center    
    = form_tag apartments_create_path, :method => :post do
        %div.form-control
            %span Select Building &nbsp;
            %select{:name => "select_building", :id => "select_building"}
                - @buildings.each do |building|
                    %option{:id => building.name, :value => building.name, :selected => params[:x] == "selected"}= building.name
        %div.form-control
            = text_field_tag "number", ""
        %div.form-control
            = check_box_tag "availability"
        %div.form-control
            = submit_tag "Submit"