!!! 5
%html
  %head
    %title OsmundsonApts!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %ul.nav.navbar-nav
            %li=link_to "Home", root_path
            %li=link_to "Apply", new_rent_app_path
            %li=link_to "Buildings", buildings_path
            %li=link_to "About Us", about_index_path  

            - if current_user
              %li=link_to "Sign Out", destroy_user_session_path, method: :delete 
              %li=link_to "Edit Account", edit_user_registration_path
              - if current_user.admin?
                %li=link_to "Admin Dashboard", rails_admin_path
            - else
              %li=link_to "Create Account", new_user_registration_path
              %li=link_to "Login", new_user_session_path
              
         
            - if user_signed_in?
              Logged in as
              = succeed "." do
                %strong.yeet= current_user.email     
                
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
      
      = render 'layouts/user_widget'